/* Styles for google custom search demo */

.container {
    max-width: 700px;
}

.gsc-results {
    margin-top: 80px;
}

.gsc-search-result-info {
    border-bottom: 1px solid #E9E9E9;
    color: #676767;
    font-size: 13px;
    margin: 10px 0 10px 0;
    padding: 5px 0 5px 8px;
    text-align: left;
}

.gsc-results-table {
    border-collapse: separate;
    border-spacing: 6px 8px;
}

.gsc-results-table tr td {
    vertical-align: top;
}

.gsc-results-table tr td img {
    width: 62px;
}

.gsc-result {
}

.gsc-result p {
    margin-bottom: 2px;
    margin-top: 2px;
}

.gsc-title {
    color: #0000CC;
    font-size: 16px;
    height: 1.25em;
    text-decoration: underline;
}

.gsc-file-format-label {
    color: #666666;
    font-size: 12px;
}

.gsc-file-format {
    color: #000000;
    font-size: 12px;
}

.gsc-snippet {
    color: #000000;
    font-size: 13px;
    text-align: left;
}

.gsc-url-bottom {
    color: #008000;
    font-size: 13px;
}

div.gsc-pagination-container {
    margin: 10px 0 40px 0;
    text-align: center;
}

div.gsc-pagination-link {
    display: inline;
    margin-right: 8px;
}

div.gsc-pagination-link a {
    text-decoration: underline;
}
